@media screen and (max-width: 500px) {

	.imageRunner{
		width:40%;
	}
	
	.header{
	color: rgb(0, 50, 100);
	text-align: center;
	font-size:28px;
	margin-top:40%;
	}
	
	.menuparagraph{
		margin-right: 15px;
		font-size: 13px;
	}
	
	#myForm{
		margin-top: 100px;
		display: flex;
		flex-direction: column;
		margin-left:5px;
		margin-right:5px;
	}
	
	.infoRunners, p{
		font-size: 15px;
	}

}



 *{
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;
 }



.myMainImage {
	background-image: url("../images/trail.jpg");
	background-repeat: no-repeat;
	animation-name: imageAnimation;
	animation-duration: 0.5s;
	margin-bottom: 30px;
	height:500px;
}


.menuparagraph{
	margin-right: 18px;
	font-size: 20px;
}



.menu{
	display: flex;
	justify-content: center;
	color: rgb(0, 120, 200);
}

.myParagraph{
	font-size: 15px;
	font-family: Verdana, sans-serif;
	color: grey;
	margin-bottom: 10px;
	margin-left:5px;
	margin-right: 5px;
}

.content, p{
	font-size: 15px;
	font-family: Verdana, sans-serif;
	color: grey;
	margin-bottom: 10px;
	margin-left:5px;
	margin-right: 5px;
}


.infoRunners, p{
	font-family: Verdana, sans-serif;
	color: grey;
}

.infoRunners{
	margin-top: auto;
	margin-bottom: auto;
	list-style-type: none;
	margin-right:2px;
	margin-left: 5px;
}


.myLabels{
	margin-bottom: 10px;
	color:black;
}

.myInputs{
	margin-bottom: 10px;
	width: 200px;
	color: black;
}


.myResetButton{
	margin-top: 15px;
	width: 50px;
}

.myButtons{
	display: flex;
}

.mySubmitButton{
	margin-top: 15px;
	width: 50px;
	margin-left: 10px;
}

.nameRunners{
	font-size: 25px;
	color:grey;
	margin-left:5px;
}

.myParagraphForm{
	color: black;
}

.imageAndInfo-flex{
	display:flex;
}

.imageRunner{
	margin-left:5px;
}

@keyframes anim1 {
	from{
		transform: translateX(-100px);
		opacity: 0;
	}
	to{
		transform:translateX(0) ;
		opacity: 1;
	}
}


@media screen and (min-width: 501px) {
	
	.content{
		margin: auto;
		width: 100%;
		line-height:1.6;
	}
	
	
	.header{
		color: rgb(0, 50, 100);
		text-align: center;
		font-size:40px;
		margin-top:8%;
	}
	
	#myForm{
		
		margin: auto;
		width:50%;
		margin-top: 100px;
		display: flex;
		flex-direction: column;
	}
	
	.imageRunner{
		size:50%;
	}
	
	.myParagraph-infoRunners{
		font-size: 17px;
	}
	
	
	

}

@media screen and (min-width:1000px) {
	.content{
		margin: auto;
		width: 50%;
		line-height:1.6;
	}

}	


